
<div class="wrapper">

  <div id="ImgBox">
    <img class="ProductImg" src="{{item.image}}" alt="">
  </div>
  <div class="ProductItemBox">
    <div class="ProdcutItemDesc">
      <h2 id="ProductItemTitel">{{item.itemType}}</h2>
      <p>{{item.discription}}</p>
      <div class="ProductBuyContainer">       
        <div>
            <label class="PriceTag">{{item.price}}kr</label>         
            <label> Number of items </label>
            <input type="number" id="ProductQuantity" name="quantity" value={{quantity}}/> 
          <button class="buy-btn" name="ProductBuyButton" (click)="addToBasket(item, quantity)">Put Into Cart</button>
          
        </div>
        <div name="Delete & Edit Product buttons">
        <a routerLink="../edititem/{{item.id}}" style="margin-right: 5px; color: white;" >Edit </a>
        <button>Delete</button>
      </div>
      </div>
    </div>

  </div>
  <div>
    <div>
      <div>
        
      </div>
    </div>
  </div>
</div>



  <router-outlet></router-outlet>
