<div>
    <div>
        <div class="container">
           
                
                <label>Edit Titel </label> <input [(ngModel)]="item.itemType">
                <label>Edit Price</label> <input [(ngModel)]="item.price">
                <label>Edit Discount</label> <input [(ngModel)]="item.discount">
                <label>Edit Image</label> <input [(ngModel)]="item.image">
                <label>Edit Description</label> <textarea  [(ngModel)]="item.discription"></textarea>
          

        </div>
    </div>
    <div>
        <button class="ASaveButton" (click)="updateItem()">Save</button>
    </div>
</div>







<!-- 
<label>Edit Titel </label> <input  value="{{item.itemType}}" > 
<label>Edit Price</label> <input id="priceInput"  value="{{item.price}}">  
<label>Edit Discount</label> <input id="discountInput"  value="{{item.discount}}">
<label>Edit Image</label> <input value= "{{item.image}}"> 
<label>Edit Description</label> <textarea id="descInput"  value="{{item.discription}}"></textarea>  -->

<!-- 
<label>Edit Titel </label> <input [(ng model)]="item.itemType">
<label>Edit Price</label> <input id="priceInput" [(ng model)]="item.price">
<label>Edit Discount</label> <input id="discountInput" [(ng model)]="item.discount">
<label>Edit Image</label> <input [(ng model)]="item.image">
<label>Edit Description</label> <textarea id="descInput" [(ng model)]="item.discription"></textarea> -->