
<div>
    <div>
        <div class="container">

            <label>Edit Titel </label> <input [(ngModel)]="item.itemType">
            <label>Edit Price</label> <input [(ngModel)]="item.price">
            <label>Edit Discount</label> <input [(ngModel)]="item.discount">
            <label>Edit Image</label> <input [(ngModel)]="item.image">
            <label>Edit Description</label> <textarea  [(ngModel)]="item.discription"></textarea>
     
        </div>
    </div>
    <div>
        <button class="saveButton">Save</button>
    </div>
</div>







