<div>
    <div>
        <div class="container">
            <form>
                <label>Edit Titel </label> <input>
                <label>Edit Price</label> <input id="priceInput">
                <label>Edit Discount</label> <input id="discountInput">
                <label>Edit Image</label> <input>
                <label >Edit Id</label> <input id="idInput">
                <label>Edit Description</label> <input id="descInput" >
            </form>
        </div>
    </div>
    <div>
        <button class="saveButton">Save</button>
    </div>
</div>





