<header>
  <a routerLink="" class="homeLogoLink">
    <img class="logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdiscordemoji.com%2Fassets%2Femoji%2F9716_Pepega.png&f=1&nofb=1" alt="">
  </a>
  <nav>
    <div class="containerforSearch-and-nav">
      <div class="searchBar-container">
        <input class="searchBar" type="text" placeholder="Search.." />
      </div>
      <div>
        <ul class="nav-area">
          <li class="dropdown">
            <button routerLink="category" routerLinkActive="active" class="dropbtn">
              Categories
            </button>
            <div class="dropdown-content">
              <div class="dropdown-content-links">
                <!-- Dropdown menu with links -->
                <a routerLink="" routerLinkActive="active">Pepe Merch</a>
                <a routerLink="" routerLinkActive="active">Pepe NFT's</a>
              </div>
            </div>
          </li>
          <li><a routerLink="basket" routerLinkActive="active">Basket</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <a routerLink="admin" routerLinkActive="active" class="btn-area">login</a>
  </div>
</header>

<router-outlet></router-outlet>
