
<header>
  <a routerLink="" class="homeLogoLink">
    <img class="logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdiscordemoji.com%2Fassets%2Femoji%2F9716_Pepega.png&f=1&nofb=1" alt="">
  </a>
  <nav>
    <div class="containerforSearch-and-nav">
      <div class="searchBar-container">
        <input class="searchBar" type="text" placeholder="Search.." />
      </div>
      <div>
        <ul class="nav-area">
          <li class="dropdown">
            <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              <div class="dropdown-content-links">
                <!-- Dropdown menu with links -->
                <a routerLink="" routerLinkActive="active">Pepe Merch</a>
                <a routerLink="" routerLinkActive="active">Pepe NFT's</a>
              </div>
            </div>
          </li>
          <li><a routerLink="" routerLinkActive="active">Products</a></li>
          <li><a routerLink="" routerLinkActive="active">Services</a></li>
          <li><a routerLink="" routerLinkActive="active">About</a></li>
          <li><a routerLink="" routerLinkActive="active">Contact</a></li>
          <li><a routerLink="" routerLinkActive="active">Basket</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <a routerLink="" routerLinkActive="active" class="btn-area">login</a>
  </div>
</header>
<div class="headerSeperater">

<router-outlet></router-outlet>
